body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hook {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 72px;
    padding-bottom: 100px;
    gap: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.caption {
    font-size: 18px;
    color: #545454;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.item1, .item2, .item3, .item4 {
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 200px;
    width: 200px;
    background-color: white;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 72px;
}

.blurb {
   font-size: 36px;
   font-style: italic;
   font-weight: 200;
   color: #1F2937; 
   display: flex;
   flex-wrap: wrap;
   margin: 0;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}